/target/
/.settings/*
/.project
/.classpath
/bin/
.DS_Store
.DS_Store?
**/credentials.*
**/target/
/s4hana_pipeline
**/*.log
**/*.trc
**/.settings/
**/.project
**/.classpath
**/.idea
**/*.iml
**/.vscode
**/node_modules
**/.DS_Store
